body {
    --dark-color:maroon;
    --light-color:mistyrose;
}

header {
    background-color: var(--light-color);
    border:medium var(--dark-color) solid;
}

header img {
    float:left;
}

div.clearfix{
    clear:both;
}

header img, header h1 {
    margin-right:5px;
}

header h1 {
    margin-top: center;
}

header h1, header p {
    color:var(--dark-color);
    font-family: Arial, Helvetica, sans-serif;

}

nav {
background-color: chocolate;

}

nav p{
    border: medium wheat solid;
    display: inline-block;
    width:17vw;
    min-width:85px;
    text-align: center;
    margin-left: 3px;
}

p a {
    font-weight: bold;
    color:ivory;
    text-decoration: none;
    width:100%;
    display:inline-block;
}

main {
    background-color: var(--light-color);
}
main h2, main h3 {
    font-family: Arial, Helvetica, sans-serif;
}
main h2 {
    text-align:center;
}


footer {
    background:firebrick;
}
footer p {
    color: moccasin;
    font-style: italic;
    text-align:center;
    font-size: 0.73rem;
    font-style: italic;
    text-align: center;   
}